.ui.grid.playlistContainer {
  margin: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;

  .row {
    flex-wrap: nowrap;
    overflow: auto;
    margin: 0 1rem;
    padding: 0;

    .column {
      min-width: 200px;
      padding: 1rem;

      &.active {
        background-color: #f1f2f2;
      }
    }
  }
}
